<h1>Personal finance</h1>

<div>
    <h2>Your accounts</h2>
    <div class="info" *ngIf="_accounts.length == 0">You don't have any accounts yet. Please add it.</div>

    <div class="acc" *ngFor="let acc of _accounts, let i = index" [ngClass]="{selected: _selected[i]}">
        <h2 class="title">{{acc.title}} ({{acc.id}})</h2>
        <p>{{acc.description}}</p>
        <p>Balance: <strong>{{acc.balance}}</strong></p>
        <button (click)="removeAcc(i)">Delete</button>
        <button (click)="select(i)">{{_selected[i] ? 'Deselect' : 'Select'}}</button>
    </div>
</div>

<div>
    <div>
        <label for="title">Title:</label>
        <input id="title" type="text" name="title" value="" #title>
    </div>

    <div>
        <label for="desc">Description:</label>
        <input id="desc" type="text" name="desc" value="" #desc>
    </div>

    <div>
        <label for="bal">Balance:</label>
        <input id="bal" type="number" name="bal" value="0" #balance>
    </div>

    <div>
        <button (click)="createAcc(title,desc,balance)">Create</button>
    </div>
</div>